.footerFilterContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: center;
  background-color: var(--White);
  position: relative;
  top: -80px;
  margin: 0 auto;
  width: 327px;
  height: 48px;
  border-radius: 5px;
}

.footerSubContainerOne {
  position: relative;
  left: 60px;
}

.footerSubContainerTwo {
  position: relative;
  left: 10px;
}

.footerSubContainerThree {
  position: relative;
  right: 45px;
}

.footerSubContainerFour {
  position: relative;
  top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
}

@media only screen and (min-width: 1200px) {
  .footerFilterContainer {
    top: -161px;
    right: 40px;
    font-size: var(--BodyCopy2);
  }

  .footerSubContainerOne {
    left: 100px;
  }
  
  .footerSubContainerTwo {
    position: relative;
    left: 30px;
  }
  
  .footerSubContainerThree {
    position: relative;
    right: 50px;
  }
  
  .footerSubContainerFour {
    position: relative;
    top: -40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
  }
  
}
