.itemContainers {
  display: flex;
  flex-direction: row;
}

.xIcon {
  position: relative;
  right: -220px;
  top: -25px;
  width: 11.79px;
  height: 11.79px;
}

.itemText {
  position: relative;
  left: -25px;
}

.checkIcon {
  position: relative;
  right: 50px;
  top: 25px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: solid 1px var(--VeryDarkGrayishBlue);
  color: red;
}

@media only screen and (min-width: 1200px) {

  .xIcon {
    position: relative;
    right: -350px;
    top: -55px;
    width: 18px;
    height: 18px;
  }

  .itemText {
    position: relative;
    left: -45px;
    top: -16px;
    font-size: var(--BodyCopy1);
  }

  .checkIcon {
    position: relative;
    right: 100px;
    top: 25px;
    width: 24px;
    height: 24px;
  }
}
