.itemContainers {
  display: flex;
  flex-direction: row;
}

.xIcon {
  position: relative;
  right: -220px;
  top: -25px;
  width: 11.79px;
  height: 11.79px;
}

.itemText {
  position: relative;
  left: -25px;
}

.checkIcon {
  position: relative;
  right: 52px;
  top: 20px;
  width: 10px;
  height: 10px;
}

@media only screen and (min-width: 1200px) {

  .xIcon {
    position: relative;
    right: -350px;
    top: -55px;
    width: 18px;
    height: 18px;
  }

  .itemText {
    position: relative;
    left: -45px;
    top: -16px;
    font-size: var(--BodyCopy1);
  }

  .checkIcon {
    position: relative;
    right: 100px;
    top: 25px;
  }
}
