.headerContainerMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

.headerContainer__title {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  align-items: center;
  top: 40px;
  width: 325px;
  height: 20px;
  color: var(--VeryLightGray);
}

.sunIcon {
  display: none;
  cursor: pointer;
  user-select: none;
}

.moonIcon {
  cursor: pointer;
  user-select: none;
}

.headerContainer__title :nth-child(2) {
  width: 19.32px;
  height: 20px;
}

.mobileHero {
  position: relative;
  top: -20px;
  width: 100%;
  z-index: -1;
}

.mobileHeroDark {
  position: relative;
  top: -20px;
  width: 100%;
  z-index: -1;
  display: none;
  user-select: none;
}

.desktopHero {
  display: none;
  user-select: none;
}

.desktopHeroDark {
  display: none;
}

.headerContainerDesktop {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .headerContainerMobile {
    display: none;
  }

  .desktopHero {
    display: block;
    position: relative;
    top: -160px;
    width: 100%;
    height: 300px;
  }

  .headerContainerDesktop {
    display: block;
  }

  .headerContainer__title {
    top: 15px;
    left: 360px;
    font-size: var(--HeadingDesktop);
    z-index: 1;
    height: auto;
    width: 540px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .moonIcon {
    position: relative;
    left: 140px;
  }

  .headerContainer__title :nth-child(2) {
    width: 35.11px;
    height: 36px;
  }
}

@media only screen and (min-width: 1920px) {
  .headerContainer__title {
    margin-left: 310px;
  }

}

@media only screen and (min-width: 2048px) {
  .headerContainer__title {
    margin-left: 390px;
  }
}


@media only screen and (min-width: 3840px) {
  .headerContainer__title {
    margin-left: 1280px;
  }
}

