.todoList {
  position: relative;
  top: -100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: var(--BodyCopy2);
  background-color: var(--White);
  border-radius: 5px;
  width: 325px;
  height: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 75px 150px 0px var(--LightGrayishBlueDark);
}

ul {
  position: relative;
  right: 20px;
}

@media only screen and (min-width: 1200px) {
  .todoList {
    font-size: var(--BodyCopy1);
    background-color: var(--White);
    width: 540px;
    height: auto;
    top: -270px;
    z-index: 1;
  }
}
