.todoCreation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 327px;
  height: 48px;
  top: -130px;
  background-color: var(--White);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

input {
  position: relative;
  left: -46px;
  color: var(--VeryLightGray);
  font-weight: 400;
  letter-spacing: -0.1;
  font-size: var(--BodyCopy2);
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.circleIcon {
  position: relative;
  left: -65px;
  border-radius: 50%;
  border: var(--LightGrayishBlueDark) solid 1px;
  width: 15px;
  height: 15px;
}

@media only screen and (min-width: 1200px) {
  .todoCreation {
    width: 540px;
    height: 65px;
    top: -305px;
    background-color: var(--White);
  }

  input {
    letter-spacing: -0.25px;
    font-size: var(--BodyCopy1);
    font-weight: 600;
    margin-right: 169px;
    left: 10px;
  }

  .circleIcon {
    left: -31.5px;
    width: 25px;
    height: 25px;
  }

  .checkIconHeader {
    left: -29px;
    width: 24px;
    height: 24px;
  }
}
