.headerContainerMobile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerContainer__title {
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
  align-items: center;
  top: 40px;
  width: 325px;
  height: 20px;
  color: var(--VeryLightGray);
}

.headerContainer__title :nth-child(2) {
  width: 19.32px;
  height: 20px;
}

.mobileHero {
  position: relative;
  top: -20px;
  width: 100%;
  z-index: -1;
}

.desktopHero {
  display: none;
}

.headerContainerDesktop {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .headerContainerMobile {
    display: none;
  }

  .desktopHero {
    display: block;
    position: relative;
    top: -160px;
    width: 100%;
    height: 300px;
  }

  .headerContainerDesktop {
    display: block;
  }

  .headerContainer__title {
    top: 15px;
    left: 360px;
    font-size: var(--HeadingDesktop);
    z-index: 1;
    height: auto;
    width: 540px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .headerContainer__title :nth-child(2) {
    width: 35.11px;
    height: 36px;
  }
}

@media only screen and (min-width: 1400px) {
  .headerContainer__title {
    left: 420px;
  }
}

@media only screen and (min-width: 1600px) {
  .headerContainer__title {
    left: 520px;
  }
}
