:root {
  /*Light Colors*/
  --VeryLightGray: hsl(0, 0%, 98%);
  --VeryLightGrayishBlue: hsl(236, 33%, 92%);
  --LightGrayishBlue: hsl(233, 11%, 84%);
  --DarkGrayishBlue: hsl(236, 9%, 61%);
  --VeryDarkGrayishBlue: hsl(235, 19%, 35%);
  --White: white;
  /*Dark Colors*/
  --VeryDarkBlue: hsl(235, 21%, 11%);
  --VeryDarkDenaturedBlue: hsl(235, 24%, 19%);
  --LightGrayishBlueDark: hsl(234, 39%, 85%);
  --LightGrayishBlueLight: hsl(236, 33%, 92%);
  --DarkGrayishBlue: hsl(234, 11%, 52%);
  --VeryDarkGrayishBlue: hsl(233, 14%, 35%);
  --VeryDarkGrayishBlue: hsl(237, 14%, 26%);
  --FiltersActiveColors: #3a7cfd;
  /*Fonts*/
  --HeadingDesktop: 40px;
  --BodyCopy1: 18px;
  --BodyCopy2: 12px;
  --BodyCopy3: 14px;
}

* {
  pointer-events: auto;
}

body {
  margin: 0px;
  font-family: "Josefin Sans", sans-serif;
  font-size: var(--BodyCopy);
}

/*Dark Mode Colors*/

#dark {
  background-color: var(--VeryDarkBlue);
}

#dark .todoCreation {
  background-color: var(--VeryDarkDenaturedBlue);
  color: var(--LightGrayishBlueDark);
}

#dark .headerContainer__title {
  z-index: 1;
}

#dark .todoList {
  background-color: var(--VeryDarkDenaturedBlue);
  color: var(--LightGrayishBlueDark);
  box-shadow: none;
}

#dark .itemContainers {
  border-bottom: 1px solid var(--VeryDarkGrayishBlue);
}

#dark .iconCheckContainer {
  border: var(--VeryDarkGrayishBlue) solid 1px;
}

#dark .mobileHero {
  display: none;
}

#dark .mobileHeroDark {
  display: block;
  top: -20px;
  width: 100%;
  z-index: 0;
}

#dark .todoCounter {
  background-color: var(--VeryDarkGrayishBlue);
}

#dark .sunIcon {
  display: block;
}

#dark .moonIcon {
  display: none;
}

#dark .footerFilterContainer {
  background-color: var(--VeryDarkDenaturedBlue);
  color: var(--VeryDarkGrayishBlue);
}

#dark .footerSubContainerFour {
  color: var(--LightGrayishBlueDark);
}

#dark .itemContainers {
  color: var(--LightGrayishBlueDark);
}

#dark .itemTextP--Completed {
  color: var(--VeryDarkGrayishBlue);
}

#dark .itemsCount,
#dark .clearItems {
  color: var(--DarkGrayishBlue);
}

#dark .itemsCount:hover,
#dark .clearItems:hover {
  color: var(--LightGrayishBlueDark);
}

#dark .footerSubContainerOne,
#dark .footerSubContainerTwo,
#dark .footerSubContainerThree {
  color: var(--DarkGrayishBlue);
}

#dark .footerSubContainerOne:hover,
#dark .footerSubContainerTwo:hover,
#dark .footerSubContainerThree:hover {
  color: var(--LightGrayishBlueDark);
}

#dark .footerSubContainerOne:active,
#dark .footerSubContainerTwo:active,
#dark .footerSubContainerThree:active {
  color: var(--FiltersActiveColors);
}

@media only screen and (min-width: 1200px) {
  #dark .mobileHeroDark {
    display: none;
  }

  #dark .desktopHero {
    display: none;
  }

  #dark .desktopHeroDark {
    display: block;
    position: relative;
    top: -160px;
    width: 100%;
    height: 300px;
  }

  #dark .sunIcon {
    display: block;
    z-index: 1;
  }
}
